<div class="jumbotron">
    <div class="row">
        <h1>Enjoy orkoshka!</h1>
        <h4>Congratulations, now you have project created with okroshka generator!</h4>
        <p>Okroshka include:</p>
        <ul>
            <li>CoffeeScript</li>
            <li>JQuery</li>
            <li>Backbone + Underscore</li>
            <li>RequireJS</li>
            <li>Twitter Bootstrap</li>
            <li>Handlebars</li>
            <li>Cucumber.js</li>
        </ul>
        <p>Feel free to ask <a href="http://kucherenko.org/">author</a> about this <a href="https://github.com/kucherenko/generator-okroshka">generator</a></p>
    </div>
</div>
